#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS=hardening=+all reproducible=+all

include debian/arch-options.mak

%:
	dh $@

override_dh_auto_build:
	$(MAKE) -C CPP/7zip/Bundles/Alone2 -f ../../cmpl_gcc.mak \
		CROSS_COMPILE="$(DEB_HOST_GNU_TYPE)-" \
		DEB_CFLAGS="$(CFLAGS)" \
		DEB_CXXFLAGS="$(CXXFLAGS)" \
		DEB_CPPFLAGS="$(CPPFLAGS)" \
		DEB_LDFLAGS="$(LDFLAGS)"

override_dh_auto_clean:
	$(MAKE) -C CPP/7zip/Bundles/Alone2 -f ../../cmpl_gcc.mak clean
